<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <h1>RocoDB</h1>
    <h2>Gyms</h2>
    <ul class="gym-options">
        <li class="gym-button">Find gym</li>
        <li class="gym-button" onclick="document.querySelector(`#create-gym-modal`).style.display='block'">Create gym
        </li>
    </ul>

    <div id="create-gym-modal" class="modal">
        <div class="modal-content">
            <div class="create-gym-container">
                <h1 class="modal-text">Create a new gym</h1>
                <form class="create-gym-form" method="post">
                    {% csrf_token %}
                    <!-- Name -->
                    <ul>
                        <li>
                            <label for="name" class="form-item-label">Name</label>
                        </li>

                        <li>
                            <input type="text" name="name" class="form-item-input" required>
                        </li>
                    </ul>

                    <!-- Address line 1-->
                    <ul>
                        <li>
                            <label for="address-line-1" class="form-item-label">Address line 1</label>
                        </li>

                        <li>
                            <input type="text" name="address-line-1" class="form-item-input">
                        </li>
                    </ul>


                    <!-- Address line 2-->
                    <ul>
                        <li>
                            <label for="address-line-2" class="form-item-label">Address line 2</label>
                        </li>

                        <li>
                            <input type="text" name="address-line-2" class="form-item-input">
                        </li>
                    </ul>


                    <!-- City-->
                    <ul>
                        <li>
                            <label for="city" class="form-item-label">City</label>
                        </li>

                        <li>
                            <input type="text" name="city" class="form-item-input">
                        </li>
                    </ul>

                    <!-- Post code -->
                    <ul>
                        <li>
                            <label for="post-code" class="form-item-label">Post-code</label>
                        </li>

                        <li>
                            <input type="text" name="post-code" class="form-item-input">
                        </li>
                    </ul>

                    <!-- Country -->
                    <ul>
                        <li>
                            <label for="country" class="form-item-label">Country</label>
                        </li>

                        <li>
                            <input type="text" name="country" class="form-item-input">
                        </li>
                    </ul>

                    <div class="form-buttons">
                        <div class="send-form-button" onclick="document.querySelector('.create-gym-form').submit()">
                            Create
                        </div>

                        <!-- When clicked, the cancel button closes the modal -->
                        <div class="send-form-button"
                            onclick="document.querySelector(`#create-gym-modal`).style.display='none'">
                            Cancel
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>