:root {
    --whiteish-color: white;
    --basic-green-color: #84e28c;
    --dark-color: #000000;
    --less-dark-color: #252525;
    --grey-color: #808080;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.gym-options {
    /* This one forces the buttons to have the same width */
    /* width: fit-content; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gym-button {
    list-style: none;
    background-color: var(--basic-green-color);
    width: 20rem;
    height: 5rem;
    margin: 1px;
    border: solid 1px;

    /* Vertical alignment using flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.gym-button:hover {
    cursor: pointer;
    background-color: #8aee92;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgb(0, 0, 0, 0.4)
}

.modal-content {
    position: absolute;
    top: 20%;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.create-gym-container {
    background-color: var(--whiteish-color);
    font-size: 1.5rem;
}

.modal-text {
    background-color: var(--basic-green-color);
    color: black;
    padding: 0;
    margin: 0;
    width: 100%;
}

.create-gym-form {
    display: flex;
    flex-wrap: wrap;
}

/* Apply style to the ul that is child of .create-gym-form */
.create-gym-form>ul {
    list-style: none;
    padding-right: 10px;
    margin: 0;
    padding: 10px 30px;
}

.form-item-label {
    padding: 0;
    margin: 0;
}

.form-item-input {
    padding: 0;
    margin: 0;
    width: 20rem;
    font-size: 1.5rem;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.send-form-button {
    margin: 10px 20px;
    padding: 10px 20px;
    align-items: center;
    border: solid var(--dark-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--whiteish-color);
}

.send-form-button:hover {
    background-color: var(--less-dark-color);
}

.send-form-button_disabled {
    margin: 10px 20px;
    padding: 10px 20px;
    align-items: center;
    border: solid var(--grey-color);
    border-radius: 5px;
    cursor: default;
    background-color: var(--grey-color);
    color: var(--whiteish-color);
}
