body {
    margin: 0;
    padding: 0;
}

.gym-options {
    /* This one forces the buttons to have the same width */
    /* width: fit-content; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gym-button {
    list-style: none;
    background-color: #808080;
    width: 20rem;
    height: 5rem;    
    margin: 1px;
    border: solid 1px;

    /* Vertical alignment using flex*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.gym-button:hover {
    cursor: pointer;
    background-color: #c0bebe;
}